# {{ ansible_managed }}
---
version: '3'
networks:
  default:
    name: wg_net
  dns_net:
    external:
      name: pi-hole_dns_net
services:
  wireguard_server:
    image: ghcr.io/linuxserver/wireguard
    container_name: wireguard_server
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID={{ ansible_facts.getent_passwd.pi[1] }}
      - PGID={{ ansible_facts.getent_passwd.pi[2]}}
      - TZ={{ pi_timezone }}
      - SERVERURL={{ wireguard_server_url }}
      - PEERS={{ wireguard_peers | join(",") }}
      - PEERDNS=auto

    volumes:
      - /home/pi/wireguard/config:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    dns: 172.42.0.6
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped

